*.bat
*.sh
/*/
LICENSE.txt
CHANGELOG

!/src/
/src/minecraft/*

!/src/minecraft/hangcow/
!/src/minecraft/dark/
!/src/minecraft/universalelectricity/
!/resources/
!info.txt
!mcmod.info
!publish.bat
!include.bat
!/README